<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.freeive.chaos.admin.WriteMapper">
    

    <insert id="insertEditor" resultType="java.util.Map">
        insert into t_editor_master
    </insert>
</mapper>